
# NEXT_PUBLIC_URL= https://ostad-lms-server.onrender.com/api/v1
# NEXT_PUBLIC_URL= https://www.bdshakil.xyz/api/v1
# NEXT_PUBLIC_URL= https://edulms-backend.vercel.app/api/v1
# NEXT_PUBLIC_URL= https://www.edulms.bdshakil.xyz/api/v1

NEXT_PUBLIC_URL= https://edu-lms-server.onrender.com/api/v1
NEXT_PUBLIC_API_URL= https://edu-lms-server.onrender.com/api/v1
NEXT_PUBLIC_APP_NAME="Edu Care"
# NEXT_PUBLIC_URL= http://localhost:8000/api/v1


